body {
  position: relative;
  display: flex;
  min-height: 100vh;

  .gameContainer {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    margin: 40px auto;
    padding: 10px;
    border: 4px solid $primary-color--dark;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 0 0 5px 5px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;

    .menu {
      &.active {
        .menu__actions {
          left: -42px;
          width: 40px;
        }

        .menu__themes {
          right: -42px;
          width: 40px;
        }
      }

      &__actions,
      &__themes {
        position: absolute;
        top: -4px;
        left: -2px;
        width: 0px;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        button {
          height: 40px;
          width: 100%;
          margin: 5px 0;
          border: none;
          background-color: $primary-color--dark;
          color: $black;
          font-size: 25px;
          text-align: center;
          cursor: pointer;
          transition: 0.2s;
        }
      }

      &__actions {
        padding: 20px 0 0 0;
        border-radius: 20px 0 0 0;
        background-color: $primary-color--dark;

        &:after {
          content: "";
          display: block;
          height: 80px;
          width: 40px;
          background: linear-gradient(
            180deg,
            $primary-color--dark 0%,
            $primary-color--dark 25%,
            white 100%
          );
        }

        button:hover {
          transform: scale(1.2);
        }
      }

      &__themes {
        left: auto;
        right: -2px;
        bottom: 0;
        border-radius: 0 20px 0 0;
        justify-content: flex-start;

        button {
          position: relative;
          height: 15%;
          width: 60%;
          border-radius: 0 10px 10px 0;
          color: white;

          &:hover {
            width: 95%;
          }

          &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            transition: none;
          }

          &:hover:after {
            width: 120%;
            background-color: rgba(255, 255, 255, 0);
            transition: all 0.4s ease-in-out;
          }
        }

        #default-theme {
          background-color: $primary-color;
        }

        #night-theme {
          background-color: $NIGHT-primary-color;
        }

        #dark-theme {
          background-color: $DARK-primary-color;
        }

        #red-theme {
          background-color: $RED-primary-color;
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
      border-bottom: 3px solid $primary-color--dark;

      &__counter {
        min-width: 7rem;
        padding: 0 5px;
        border-radius: 5px;
        text-align: right;
        font-weight: bold;
        font-size: 3.5rem;
        color: $red;
        background-color: black;

        & > p {
          line-height: 3.6rem;
        }
      }

      &__buttons {
        display: flex;
        align-items: flex-end;

        &-restart,
        &-showMenu {
          padding: 10px;
          border: 0;
          background-color: $primary-color;
          color: $black;
          font-size: 20px;
          cursor: pointer;

          & i {
            transition: 0.2s;
          }

          &:hover i {
            transform: scale(1.3);
          }
        }

        &-restart.animate i {
          animation: 0.4s animateRestartBtn linear;

          @keyframes animateRestartBtn {
            0% {
              transform: rotate(0deg) scale(1);
            }

            100% {
              transform: rotate(360deg) scale(1.3);
            }
          }
        }

        &-showMenu.animate i {
          animation: 0.3s animateShowMenuBtn linear;

          @keyframes animateShowMenuBtn {
            0% {
              transform: scale(1);
            }

            100% {
              transform: scale(1.3);
            }
          }
        }

        &-emoji {
          width: 5rem;
          height: 5rem;
          border: 3px solid;
          border-color: $border-template;
          background-image: url(../../images/neutral.svg);
          background-repeat: no-repeat;
          background-size: cover;
          background-color: transparent;

          &.negative {
            animation: 0.3s negativeEmoji linear both;
          }

          &.positive {
            animation: 0.3s positiveEmoji linear;
          }
        }
      }

      @keyframes negativeEmoji {
        0% {
          background-image: url(../../images/neutral.svg);
        }

        30% {
          background-image: url(../../images/negative.svg);
        }

        100% {
          background-image: url(../../images/negative.svg);
        }
      }

      @keyframes positiveEmoji {
        0% {
          background-image: url(../../images/neutral.svg);
        }

        30% {
          background-image: url(../../images/positive.svg);
        }

        100% {
          background-image: url(../../images/positive.svg);
        }
      }
    }

    .board {
      flex-grow: 1;
      width: 304px;
      padding: 5px 0;
      display: flex;
      flex-wrap: wrap;
      align-self: center;

      &__cell {
        width: 38px;
        height: 38px;
        border: 3px solid;
        border-color: $border-template;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        &[data-bomb="1"].clicked {
          background-image: url(../../images/bomb.png);
        }

        &.clicked {
          border: 1px solid $primary-color--dark;
          pointer-events: none;
        }

        &.flagged {
          background-image: url(../../images/flag.png);
          background-size: 75%;
          cursor: default;

          &.no-bomb {
            background-image: url(../../images/bomb2.png);
            background-size: 80%;
          }
        }

        &.freeze {
          pointer-events: none;
        }

        &[data-near="1"] {
          color: $near1;
        }

        &[data-near="2"] {
          color: $near2;
        }

        &[data-near="3"] {
          color: $near3;
        }

        &[data-near="4"] {
          color: $near4;
        }

        &[data-near="5"] {
          color: $near5;
        }

        &[data-near="6"] {
          color: $near6;
        }

        &[data-near="7"] {
          color: $near7;
        }

        &[data-near="8"] {
          color: $near8;
        }
      }
    }

    .panel {
      &__title {
        padding: 5px 0 10px;
        border-top: 3px solid $primary-color--dark;
        text-align: center;
        font-size: 2rem;
      }

      &__buttonsContainer {
        display: flex;
        width: 100%;
      }

      &__button-difficulty {
        flex-basis: 33.333%;
        padding: 2px 15px;
        border: 4px solid;
        border-color: $border-template;
        background-color: $primary-color;
        font-size: 1.8rem;
        cursor: pointer;

        &:hover {
          border: 2px solid;
          border-color: $border-template;
        }
      }
    }
  }
}
