$score-board-font-color: #F1F1F2;
$font-color: #F1F1F2;
$cell-color: #A1D6E2;
$clicked-cell-color: #F1F1F2;
$board-color: #1995AD;
$board-additional-color: #A1D6E2;
$border-template: #F1F1F2 $board-color $board-color #F1F1F2;
$left-menu-color: #A1D6E2;
$emoji-background-color:#F1F1F2;
$body: white;

//cells font colors
$near1: blue;
$near2: green;
$near3: red;
$near4: rgb(0, 0, 151);
$near5: brown;
$near6: rgb(4, 111, 129);
$near7: rgb(60, 4, 77);
$near8: rgb(95, 81, 17);

//themes buttons colors
$btn-default-color: #c0c0c0;
$btn-theme2-color: linear-gradient(180deg, rgba(80, 81, 96, 1) 50%, rgba(174, 189, 56, 1) 100%);
$btn-theme3-color: linear-gradient(180deg, #7D4427 50%, #2E4600 100%);
$btn-theme4-color: linear-gradient(180deg, #A1D6E2 50%, #1995AD 100%);