$score-board-font-color: #c0c0c0;
$font-color: #c0c0c0;
$cell-color: #486b00;
$clicked-cell-color: #7d4427;
$board-color: #7d4427;
$board-additional-color: #2e4600;
$border-template: #9b7b6a $board-additional-color $board-additional-color #9b7b6a;
$left-menu-color: #2e4600;
$emoji-background-color: #c0c0c0;
$body: white;

//cells font colors
$near1: blue;
$near2: green;
$near3: red;
$near4: rgb(0, 0, 151);
$near5: brown;
$near6: rgb(4, 111, 129);
$near7: rgb(60, 4, 77);
$near8: rgb(95, 81, 17);

//themes buttons colors
$btn-default-color: #c0c0c0;
$btn-theme2-color: linear-gradient(180deg, rgba(80, 81, 96, 1) 50%, rgba(174, 189, 56, 1) 100%);
$btn-theme3-color: linear-gradient(180deg, #7d4427 50%, #2e4600 100%);
$btn-theme4-color: linear-gradient(180deg, #a1d6e2 50%, #1995ad 100%);
