$red: rgb(212, 64, 64);
$black: rgb(15, 15, 15);
$body-template: white;
$primary-color: #c0c0c0;
$primary-color--dark: #808080;
$border-template: #fff $primary-color--dark $primary-color--dark #fff;

//cells font colors
$near1: blue;
$near2: green;
$near3: red;
$near4: rgb(0, 0, 151);
$near5: brown;
$near6: rgb(4, 111, 129);
$near7: rgb(60, 4, 77);
$near8: rgb(95, 81, 17);

//themes
$NIGHT-body-template: blue;
$NIGHT-primary-color: #21115e;
$NIGHT-primary-color--dark: #e6e5eb;

$DARK-primary-color: rgb(59, 52, 52);

$RED-primary-color: rgb(175, 76, 76);
