* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Rajdhani", sans-serif;
  font-size: 10px;
}

@import './variables';
@import './game';
// @import "./themes/night";