* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

html {
  font-family: "Rajdhani", sans-serif;
  font-size: 10px;
}

html body.default-theme {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: white;
}

html body.default-theme .gameContainer {
  min-height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 40px auto;
  padding: 10px;
  border: 4px solid #808080;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0 0 5px 5px;
  background-color: #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.default-theme .gameContainer .menu.active .menu__actions {
  left: -42px;
  width: 40px;
}

html body.default-theme .gameContainer .menu.active .menu__themes {
  right: -42px;
  width: 40px;
}

html body.default-theme .gameContainer .menu__actions, html body.default-theme .gameContainer .menu__themes {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

html body.default-theme .gameContainer .menu__actions button, html body.default-theme .gameContainer .menu__themes button {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  background-color: #808080;
  color: #0f0f0f;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

html body.default-theme .gameContainer .menu__actions {
  padding: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  background-color: #808080;
}

html body.default-theme .gameContainer .menu__actions:after {
  content: "";
  display: block;
  height: 80px;
  width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#808080), color-stop(25%, #808080), to(white));
  background: linear-gradient(180deg, #808080 0%, #808080 25%, white 100%);
}

html body.default-theme .gameContainer .menu__actions button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body.default-theme .gameContainer .menu__themes {
  left: auto;
  right: -2px;
  bottom: 0;
  border-radius: 0 20px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body.default-theme .gameContainer .menu__themes button {
  position: relative;
  height: 75px;
  width: 60%;
  margin: 4px 0 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

html body.default-theme .gameContainer .menu__themes button:hover {
  width: 95%;
}

html body.default-theme .gameContainer .menu__themes button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  transition: none;
}

html body.default-theme .gameContainer .menu__themes button:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body.default-theme .gameContainer .menu__themes #default-theme {
  background: #c0c0c0;
}

html body.default-theme .gameContainer .menu__themes #theme2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #505160), to(#aebd38));
  background: linear-gradient(180deg, #505160 50%, #aebd38 100%);
}

html body.default-theme .gameContainer .menu__themes #theme3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7D4427), to(#2E4600));
  background: linear-gradient(180deg, #7D4427 50%, #2E4600 100%);
}

html body.default-theme .gameContainer .menu__themes #theme4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #A1D6E2), to(#1995AD));
  background: linear-gradient(180deg, #A1D6E2 50%, #1995AD 100%);
}

html body.default-theme .gameContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #808080;
}

html body.default-theme .gameContainer .header__counter {
  min-width: 7rem;
  padding: 0 5px;
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
  font-size: 3.5rem;
  color: #d44040;
  background-color: black;
}

html body.default-theme .gameContainer .header__counter > p {
  line-height: 3.6rem;
}

html body.default-theme .gameContainer .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body.default-theme .gameContainer .header__buttons-restart, html body.default-theme .gameContainer .header__buttons-showMenu {
  padding: 10px;
  border: 0;
  background-color: #c0c0c0;
  color: #0f0f0f;
  font-size: 20px;
  cursor: pointer;
}

html body.default-theme .gameContainer .header__buttons-restart i, html body.default-theme .gameContainer .header__buttons-showMenu i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body.default-theme .gameContainer .header__buttons-restart:hover i, html body.default-theme .gameContainer .header__buttons-showMenu:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html body.default-theme .gameContainer .header__buttons-restart.animate i {
  -webkit-animation: 0.4s animateRestartBtn linear;
          animation: 0.4s animateRestartBtn linear;
}

@-webkit-keyframes animateRestartBtn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.3);
            transform: rotate(360deg) scale(1.3);
  }
}

@keyframes animateRestartBtn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.3);
            transform: rotate(360deg) scale(1.3);
  }
}

html body.default-theme .gameContainer .header__buttons-showMenu.animate i {
  -webkit-animation: 0.3s animateShowMenuBtn linear;
          animation: 0.3s animateShowMenuBtn linear;
}

@-webkit-keyframes animateShowMenuBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes animateShowMenuBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

html body.default-theme .gameContainer .header__buttons-emoji {
  width: 5rem;
  height: 5rem;
  border: 3px solid;
  border-color: #fff #808080 #808080 #fff;
  background-image: url(../../images/neutral.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c0c0c0;
}

html body.default-theme .gameContainer .header__buttons-emoji.negative {
  -webkit-animation: 0.3s negativeEmoji linear both;
          animation: 0.3s negativeEmoji linear both;
}

html body.default-theme .gameContainer .header__buttons-emoji.positive {
  -webkit-animation: 0.3s positiveEmoji linear;
          animation: 0.3s positiveEmoji linear;
}

@-webkit-keyframes negativeEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/negative.svg);
  }
  100% {
    background-image: url(../../images/negative.svg);
  }
}

@keyframes negativeEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/negative.svg);
  }
  100% {
    background-image: url(../../images/negative.svg);
  }
}

@-webkit-keyframes positiveEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/positive.svg);
  }
  100% {
    background-image: url(../../images/positive.svg);
  }
}

@keyframes positiveEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/positive.svg);
  }
  100% {
    background-image: url(../../images/positive.svg);
  }
}

html body.default-theme .gameContainer .board {
  width: 304px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

html body.default-theme .gameContainer .board__cell {
  width: 38px;
  height: 38px;
  border: 3px solid;
  border-color: #fff #808080 #808080 #fff;
  background-color: #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html body.default-theme .gameContainer .board__cell[data-bomb="1"].clicked {
  background-image: url(../../images/bomb.png);
}

html body.default-theme .gameContainer .board__cell.clicked {
  border: 1px solid #808080;
  background-color: #c0c0c0;
  pointer-events: none;
}

html body.default-theme .gameContainer .board__cell.flagged {
  background-image: url(../../images/flag.png);
  background-size: 75%;
  cursor: default;
}

html body.default-theme .gameContainer .board__cell.flagged.no-bomb {
  background-image: url(../../images/bomb2.png);
  background-size: 80%;
}

html body.default-theme .gameContainer .board__cell.freeze {
  pointer-events: none;
}

html body.default-theme .gameContainer .board__cell[data-near="1"] {
  color: blue;
}

html body.default-theme .gameContainer .board__cell[data-near="2"] {
  color: green;
}

html body.default-theme .gameContainer .board__cell[data-near="3"] {
  color: red;
}

html body.default-theme .gameContainer .board__cell[data-near="4"] {
  color: #000097;
}

html body.default-theme .gameContainer .board__cell[data-near="5"] {
  color: brown;
}

html body.default-theme .gameContainer .board__cell[data-near="6"] {
  color: #046f81;
}

html body.default-theme .gameContainer .board__cell[data-near="7"] {
  color: #3c044d;
}

html body.default-theme .gameContainer .board__cell[data-near="8"] {
  color: #5f5111;
}

html body.default-theme .gameContainer .panel__title {
  padding: 5px 0 10px;
  border-top: 3px solid #808080;
  text-align: center;
  font-size: 2rem;
  color: #0f0f0f;
}

html body.default-theme .gameContainer .panel__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

html body.default-theme .gameContainer .panel__button-difficulty {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 2px 15px;
  border: 4px solid;
  border-color: #fff #808080 #808080 #fff;
  background-color: #c0c0c0;
  font-size: 1.8rem;
  color: #0f0f0f;
  cursor: pointer;
}

html body.default-theme .gameContainer .panel__button-difficulty:hover {
  border: 2px solid;
  border-color: #fff #808080 #808080 #fff;
}

html body.default-theme .gameContainer .window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #c0c0c0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  color: #0f0f0f;
}

html body.default-theme .gameContainer .window.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body.default-theme .gameContainer .window__title {
  font-size: 4rem;
  padding: 10px 0;
}

html body.default-theme .gameContainer .window__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.default-theme .gameContainer .window__content__container {
  padding: 0px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body.default-theme .gameContainer .window__content__title {
  font-size: 2.3rem;
}

html body.default-theme .gameContainer .window__content__subtitle {
  font-size: 2rem;
  padding-top: 5px;
}

html body.default-theme .gameContainer .window__content__subtitle span {
  font-size: 1.8rem;
  font-weight: normal;
}

html body.default-theme .gameContainer .window__content__paragraph {
  font-size: 1.5rem;
}

html body.default-theme .gameContainer .window__content__paragraph--bigger {
  font-size: 1.9rem;
}

html body.default-theme .gameContainer .window__content__paragraph--bigger span {
  font-size: 2rem;
  font-weight: bold;
}

html body.default-theme .gameContainer .window__content input[type="number"] {
  font-size: 2rem;
  width: 10rem;
  text-align: center;
}

html body.default-theme .gameContainer .window__content select {
  padding: 3px 10px;
  font-size: 1.7rem;
  cursor: pointer;
}

html body.default-theme .gameContainer .window__note {
  font-size: 1.4rem;
  text-align: center;
}

html body.default-theme .gameContainer .window__confirm, html body.default-theme .gameContainer .window__close {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 160px;
  margin: 10px 0 0px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #c0c0c0;
  border-color: #fff #808080 #808080 #fff;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  color: #0f0f0f;
}

html body.default-theme .gameContainer .window__confirm:hover, html body.default-theme .gameContainer .window__close:hover {
  -webkit-transform: scale(1.1) rotate(0.5deg);
          transform: scale(1.1) rotate(0.5deg);
}

html body.default-theme .gameContainer .window__close {
  background-color: #d44040;
  color: #fff;
}

html body.theme2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: white;
}

html body.theme2 .gameContainer {
  min-height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 40px auto;
  padding: 10px;
  border: 4px solid #505160;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0 0 5px 5px;
  background-color: #505160;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme2 .gameContainer .menu.active .menu__actions {
  left: -42px;
  width: 40px;
}

html body.theme2 .gameContainer .menu.active .menu__themes {
  right: -42px;
  width: 40px;
}

html body.theme2 .gameContainer .menu__actions, html body.theme2 .gameContainer .menu__themes {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

html body.theme2 .gameContainer .menu__actions button, html body.theme2 .gameContainer .menu__themes button {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  background-color: #505160;
  color: #c0c0c0;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

html body.theme2 .gameContainer .menu__actions {
  padding: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  background-color: #505160;
}

html body.theme2 .gameContainer .menu__actions:after {
  content: "";
  display: block;
  height: 80px;
  width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#505160), color-stop(25%, #505160), to(white));
  background: linear-gradient(180deg, #505160 0%, #505160 25%, white 100%);
}

html body.theme2 .gameContainer .menu__actions button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body.theme2 .gameContainer .menu__themes {
  left: auto;
  right: -2px;
  bottom: 0;
  border-radius: 0 20px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body.theme2 .gameContainer .menu__themes button {
  position: relative;
  height: 75px;
  width: 60%;
  margin: 4px 0 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

html body.theme2 .gameContainer .menu__themes button:hover {
  width: 95%;
}

html body.theme2 .gameContainer .menu__themes button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  transition: none;
}

html body.theme2 .gameContainer .menu__themes button:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body.theme2 .gameContainer .menu__themes #default-theme {
  background: #c0c0c0;
}

html body.theme2 .gameContainer .menu__themes #theme2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #505160), to(#aebd38));
  background: linear-gradient(180deg, #505160 50%, #aebd38 100%);
}

html body.theme2 .gameContainer .menu__themes #theme3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7D4427), to(#2E4600));
  background: linear-gradient(180deg, #7D4427 50%, #2E4600 100%);
}

html body.theme2 .gameContainer .menu__themes #theme4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #A1D6E2), to(#1995AD));
  background: linear-gradient(180deg, #A1D6E2 50%, #1995AD 100%);
}

html body.theme2 .gameContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #505160;
}

html body.theme2 .gameContainer .header__counter {
  min-width: 7rem;
  padding: 0 5px;
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
  font-size: 3.5rem;
  color: #c0c0c0;
  background-color: black;
}

html body.theme2 .gameContainer .header__counter > p {
  line-height: 3.6rem;
}

html body.theme2 .gameContainer .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body.theme2 .gameContainer .header__buttons-restart, html body.theme2 .gameContainer .header__buttons-showMenu {
  padding: 10px;
  border: 0;
  background-color: #505160;
  color: #c0c0c0;
  font-size: 20px;
  cursor: pointer;
}

html body.theme2 .gameContainer .header__buttons-restart i, html body.theme2 .gameContainer .header__buttons-showMenu i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body.theme2 .gameContainer .header__buttons-restart:hover i, html body.theme2 .gameContainer .header__buttons-showMenu:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html body.theme2 .gameContainer .header__buttons-restart.animate i {
  -webkit-animation: 0.4s animateRestartBtn linear;
          animation: 0.4s animateRestartBtn linear;
}

@keyframes animateRestartBtn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.3);
            transform: rotate(360deg) scale(1.3);
  }
}

html body.theme2 .gameContainer .header__buttons-showMenu.animate i {
  -webkit-animation: 0.3s animateShowMenuBtn linear;
          animation: 0.3s animateShowMenuBtn linear;
}

@keyframes animateShowMenuBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

html body.theme2 .gameContainer .header__buttons-emoji {
  width: 5rem;
  height: 5rem;
  border: 3px solid;
  border-color: #fff #808080 #808080 #fff;
  background-image: url(../../images/neutral.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c0c0c0;
}

html body.theme2 .gameContainer .header__buttons-emoji.negative {
  -webkit-animation: 0.3s negativeEmoji linear both;
          animation: 0.3s negativeEmoji linear both;
}

html body.theme2 .gameContainer .header__buttons-emoji.positive {
  -webkit-animation: 0.3s positiveEmoji linear;
          animation: 0.3s positiveEmoji linear;
}

@keyframes negativeEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/negative.svg);
  }
  100% {
    background-image: url(../../images/negative.svg);
  }
}

@keyframes positiveEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/positive.svg);
  }
  100% {
    background-image: url(../../images/positive.svg);
  }
}

html body.theme2 .gameContainer .board {
  width: 304px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

html body.theme2 .gameContainer .board__cell {
  width: 38px;
  height: 38px;
  border: 3px solid;
  border-color: #c0c0c0 #505160 #505160 #c0c0c0;
  background-color: #AEBD38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html body.theme2 .gameContainer .board__cell[data-bomb="1"].clicked {
  background-image: url(../../images/bomb.png);
}

html body.theme2 .gameContainer .board__cell.clicked {
  border: 1px solid #505160;
  background-color: #c0c0c0;
  pointer-events: none;
}

html body.theme2 .gameContainer .board__cell.flagged {
  background-image: url(../../images/flag.png);
  background-size: 75%;
  cursor: default;
}

html body.theme2 .gameContainer .board__cell.flagged.no-bomb {
  background-image: url(../../images/bomb2.png);
  background-size: 80%;
}

html body.theme2 .gameContainer .board__cell.freeze {
  pointer-events: none;
}

html body.theme2 .gameContainer .board__cell[data-near="1"] {
  color: blue;
}

html body.theme2 .gameContainer .board__cell[data-near="2"] {
  color: green;
}

html body.theme2 .gameContainer .board__cell[data-near="3"] {
  color: red;
}

html body.theme2 .gameContainer .board__cell[data-near="4"] {
  color: #000097;
}

html body.theme2 .gameContainer .board__cell[data-near="5"] {
  color: brown;
}

html body.theme2 .gameContainer .board__cell[data-near="6"] {
  color: #046f81;
}

html body.theme2 .gameContainer .board__cell[data-near="7"] {
  color: #3c044d;
}

html body.theme2 .gameContainer .board__cell[data-near="8"] {
  color: #5f5111;
}

html body.theme2 .gameContainer .panel__title {
  padding: 5px 0 10px;
  border-top: 3px solid #505160;
  text-align: center;
  font-size: 2rem;
  color: #c0c0c0;
}

html body.theme2 .gameContainer .panel__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

html body.theme2 .gameContainer .panel__button-difficulty {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 2px 15px;
  border: 4px solid;
  border-color: #c0c0c0 #505160 #505160 #c0c0c0;
  background-color: #505160;
  font-size: 1.8rem;
  color: #c0c0c0;
  cursor: pointer;
}

html body.theme2 .gameContainer .panel__button-difficulty:hover {
  border: 2px solid;
  border-color: #c0c0c0 #505160 #505160 #c0c0c0;
}

html body.theme2 .gameContainer .window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #505160;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  color: #c0c0c0;
}

html body.theme2 .gameContainer .window.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body.theme2 .gameContainer .window__title {
  font-size: 4rem;
  padding: 10px 0;
}

html body.theme2 .gameContainer .window__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme2 .gameContainer .window__content__container {
  padding: 0px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body.theme2 .gameContainer .window__content__title {
  font-size: 2.3rem;
}

html body.theme2 .gameContainer .window__content__subtitle {
  font-size: 2rem;
  padding-top: 5px;
}

html body.theme2 .gameContainer .window__content__subtitle span {
  font-size: 1.8rem;
  font-weight: normal;
}

html body.theme2 .gameContainer .window__content__paragraph {
  font-size: 1.5rem;
}

html body.theme2 .gameContainer .window__content__paragraph--bigger {
  font-size: 1.9rem;
}

html body.theme2 .gameContainer .window__content__paragraph--bigger span {
  font-size: 2rem;
  font-weight: bold;
}

html body.theme2 .gameContainer .window__content input[type="number"] {
  font-size: 2rem;
  width: 10rem;
  text-align: center;
}

html body.theme2 .gameContainer .window__content select {
  padding: 3px 10px;
  font-size: 1.7rem;
  cursor: pointer;
}

html body.theme2 .gameContainer .window__note {
  font-size: 1.4rem;
  text-align: center;
}

html body.theme2 .gameContainer .window__confirm, html body.theme2 .gameContainer .window__close {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 160px;
  margin: 10px 0 0px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #505160;
  border-color: #c0c0c0 #505160 #505160 #c0c0c0;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  color: #c0c0c0;
}

html body.theme2 .gameContainer .window__confirm:hover, html body.theme2 .gameContainer .window__close:hover {
  -webkit-transform: scale(1.1) rotate(0.5deg);
          transform: scale(1.1) rotate(0.5deg);
}

html body.theme2 .gameContainer .window__close {
  background-color: #d44040;
  color: #fff;
}

html body.theme3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: white;
}

html body.theme3 .gameContainer {
  min-height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 40px auto;
  padding: 10px;
  border: 4px solid #2E4600;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0 0 5px 5px;
  background-color: #7D4427;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme3 .gameContainer .menu.active .menu__actions {
  left: -42px;
  width: 40px;
}

html body.theme3 .gameContainer .menu.active .menu__themes {
  right: -42px;
  width: 40px;
}

html body.theme3 .gameContainer .menu__actions, html body.theme3 .gameContainer .menu__themes {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

html body.theme3 .gameContainer .menu__actions button, html body.theme3 .gameContainer .menu__themes button {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  background-color: #2E4600;
  color: #c0c0c0;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

html body.theme3 .gameContainer .menu__actions {
  padding: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  background-color: #2E4600;
}

html body.theme3 .gameContainer .menu__actions:after {
  content: "";
  display: block;
  height: 80px;
  width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2E4600), color-stop(25%, #2E4600), to(white));
  background: linear-gradient(180deg, #2E4600 0%, #2E4600 25%, white 100%);
}

html body.theme3 .gameContainer .menu__actions button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body.theme3 .gameContainer .menu__themes {
  left: auto;
  right: -2px;
  bottom: 0;
  border-radius: 0 20px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body.theme3 .gameContainer .menu__themes button {
  position: relative;
  height: 75px;
  width: 60%;
  margin: 4px 0 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

html body.theme3 .gameContainer .menu__themes button:hover {
  width: 95%;
}

html body.theme3 .gameContainer .menu__themes button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  transition: none;
}

html body.theme3 .gameContainer .menu__themes button:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body.theme3 .gameContainer .menu__themes #default-theme {
  background: #c0c0c0;
}

html body.theme3 .gameContainer .menu__themes #theme2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #505160), to(#aebd38));
  background: linear-gradient(180deg, #505160 50%, #aebd38 100%);
}

html body.theme3 .gameContainer .menu__themes #theme3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7D4427), to(#2E4600));
  background: linear-gradient(180deg, #7D4427 50%, #2E4600 100%);
}

html body.theme3 .gameContainer .menu__themes #theme4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #A1D6E2), to(#1995AD));
  background: linear-gradient(180deg, #A1D6E2 50%, #1995AD 100%);
}

html body.theme3 .gameContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #2E4600;
}

html body.theme3 .gameContainer .header__counter {
  min-width: 7rem;
  padding: 0 5px;
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
  font-size: 3.5rem;
  color: #c0c0c0;
  background-color: black;
}

html body.theme3 .gameContainer .header__counter > p {
  line-height: 3.6rem;
}

html body.theme3 .gameContainer .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body.theme3 .gameContainer .header__buttons-restart, html body.theme3 .gameContainer .header__buttons-showMenu {
  padding: 10px;
  border: 0;
  background-color: #7D4427;
  color: #c0c0c0;
  font-size: 20px;
  cursor: pointer;
}

html body.theme3 .gameContainer .header__buttons-restart i, html body.theme3 .gameContainer .header__buttons-showMenu i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body.theme3 .gameContainer .header__buttons-restart:hover i, html body.theme3 .gameContainer .header__buttons-showMenu:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html body.theme3 .gameContainer .header__buttons-restart.animate i {
  -webkit-animation: 0.4s animateRestartBtn linear;
          animation: 0.4s animateRestartBtn linear;
}

@keyframes animateRestartBtn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.3);
            transform: rotate(360deg) scale(1.3);
  }
}

html body.theme3 .gameContainer .header__buttons-showMenu.animate i {
  -webkit-animation: 0.3s animateShowMenuBtn linear;
          animation: 0.3s animateShowMenuBtn linear;
}

@keyframes animateShowMenuBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

html body.theme3 .gameContainer .header__buttons-emoji {
  width: 5rem;
  height: 5rem;
  border: 3px solid;
  border-color: #fff #808080 #808080 #fff;
  background-image: url(../../images/neutral.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c0c0c0;
}

html body.theme3 .gameContainer .header__buttons-emoji.negative {
  -webkit-animation: 0.3s negativeEmoji linear both;
          animation: 0.3s negativeEmoji linear both;
}

html body.theme3 .gameContainer .header__buttons-emoji.positive {
  -webkit-animation: 0.3s positiveEmoji linear;
          animation: 0.3s positiveEmoji linear;
}

@keyframes negativeEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/negative.svg);
  }
  100% {
    background-image: url(../../images/negative.svg);
  }
}

@keyframes positiveEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/positive.svg);
  }
  100% {
    background-image: url(../../images/positive.svg);
  }
}

html body.theme3 .gameContainer .board {
  width: 304px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

html body.theme3 .gameContainer .board__cell {
  width: 38px;
  height: 38px;
  border: 3px solid;
  border-color: #9b7b6a #2E4600 #2E4600 #9b7b6a;
  background-color: #486B00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html body.theme3 .gameContainer .board__cell[data-bomb="1"].clicked {
  background-image: url(../../images/bomb.png);
}

html body.theme3 .gameContainer .board__cell.clicked {
  border: 1px solid #2E4600;
  background-color: #7D4427;
  pointer-events: none;
}

html body.theme3 .gameContainer .board__cell.flagged {
  background-image: url(../../images/flag.png);
  background-size: 75%;
  cursor: default;
}

html body.theme3 .gameContainer .board__cell.flagged.no-bomb {
  background-image: url(../../images/bomb2.png);
  background-size: 80%;
}

html body.theme3 .gameContainer .board__cell.freeze {
  pointer-events: none;
}

html body.theme3 .gameContainer .board__cell[data-near="1"] {
  color: blue;
}

html body.theme3 .gameContainer .board__cell[data-near="2"] {
  color: green;
}

html body.theme3 .gameContainer .board__cell[data-near="3"] {
  color: red;
}

html body.theme3 .gameContainer .board__cell[data-near="4"] {
  color: #000097;
}

html body.theme3 .gameContainer .board__cell[data-near="5"] {
  color: brown;
}

html body.theme3 .gameContainer .board__cell[data-near="6"] {
  color: #046f81;
}

html body.theme3 .gameContainer .board__cell[data-near="7"] {
  color: #3c044d;
}

html body.theme3 .gameContainer .board__cell[data-near="8"] {
  color: #5f5111;
}

html body.theme3 .gameContainer .panel__title {
  padding: 5px 0 10px;
  border-top: 3px solid #2E4600;
  text-align: center;
  font-size: 2rem;
  color: #c0c0c0;
}

html body.theme3 .gameContainer .panel__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

html body.theme3 .gameContainer .panel__button-difficulty {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 2px 15px;
  border: 4px solid;
  border-color: #9b7b6a #2E4600 #2E4600 #9b7b6a;
  background-color: #7D4427;
  font-size: 1.8rem;
  color: #c0c0c0;
  cursor: pointer;
}

html body.theme3 .gameContainer .panel__button-difficulty:hover {
  border: 2px solid;
  border-color: #9b7b6a #2E4600 #2E4600 #9b7b6a;
}

html body.theme3 .gameContainer .window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #7D4427;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  color: #c0c0c0;
}

html body.theme3 .gameContainer .window.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body.theme3 .gameContainer .window__title {
  font-size: 4rem;
  padding: 10px 0;
}

html body.theme3 .gameContainer .window__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme3 .gameContainer .window__content__container {
  padding: 0px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body.theme3 .gameContainer .window__content__title {
  font-size: 2.3rem;
}

html body.theme3 .gameContainer .window__content__subtitle {
  font-size: 2rem;
  padding-top: 5px;
}

html body.theme3 .gameContainer .window__content__subtitle span {
  font-size: 1.8rem;
  font-weight: normal;
}

html body.theme3 .gameContainer .window__content__paragraph {
  font-size: 1.5rem;
}

html body.theme3 .gameContainer .window__content__paragraph--bigger {
  font-size: 1.9rem;
}

html body.theme3 .gameContainer .window__content__paragraph--bigger span {
  font-size: 2rem;
  font-weight: bold;
}

html body.theme3 .gameContainer .window__content input[type="number"] {
  font-size: 2rem;
  width: 10rem;
  text-align: center;
}

html body.theme3 .gameContainer .window__content select {
  padding: 3px 10px;
  font-size: 1.7rem;
  cursor: pointer;
}

html body.theme3 .gameContainer .window__note {
  font-size: 1.4rem;
  text-align: center;
}

html body.theme3 .gameContainer .window__confirm, html body.theme3 .gameContainer .window__close {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 160px;
  margin: 10px 0 0px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #7D4427;
  border-color: #9b7b6a #2E4600 #2E4600 #9b7b6a;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  color: #c0c0c0;
}

html body.theme3 .gameContainer .window__confirm:hover, html body.theme3 .gameContainer .window__close:hover {
  -webkit-transform: scale(1.1) rotate(0.5deg);
          transform: scale(1.1) rotate(0.5deg);
}

html body.theme3 .gameContainer .window__close {
  background-color: #d44040;
  color: #fff;
}

html body.theme4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-color: white;
}

html body.theme4 .gameContainer {
  min-height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 40px auto;
  padding: 10px;
  border: 4px solid #A1D6E2;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0 0 5px 5px;
  background-color: #1995AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme4 .gameContainer .menu.active .menu__actions {
  left: -42px;
  width: 40px;
}

html body.theme4 .gameContainer .menu.active .menu__themes {
  right: -42px;
  width: 40px;
}

html body.theme4 .gameContainer .menu__actions, html body.theme4 .gameContainer .menu__themes {
  position: absolute;
  top: -4px;
  left: -2px;
  width: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

html body.theme4 .gameContainer .menu__actions button, html body.theme4 .gameContainer .menu__themes button {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  background-color: #A1D6E2;
  color: #F1F1F2;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

html body.theme4 .gameContainer .menu__actions {
  padding: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  background-color: #A1D6E2;
}

html body.theme4 .gameContainer .menu__actions:after {
  content: "";
  display: block;
  height: 80px;
  width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#A1D6E2), color-stop(25%, #A1D6E2), to(white));
  background: linear-gradient(180deg, #A1D6E2 0%, #A1D6E2 25%, white 100%);
}

html body.theme4 .gameContainer .menu__actions button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html body.theme4 .gameContainer .menu__themes {
  left: auto;
  right: -2px;
  bottom: 0;
  border-radius: 0 20px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

html body.theme4 .gameContainer .menu__themes button {
  position: relative;
  height: 75px;
  width: 60%;
  margin: 4px 0 0;
  border-radius: 0 10px 10px 0;
  color: white;
}

html body.theme4 .gameContainer .menu__themes button:hover {
  width: 95%;
}

html body.theme4 .gameContainer .menu__themes button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  transition: none;
}

html body.theme4 .gameContainer .menu__themes button:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

html body.theme4 .gameContainer .menu__themes #default-theme {
  background: #c0c0c0;
}

html body.theme4 .gameContainer .menu__themes #theme2 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #505160), to(#aebd38));
  background: linear-gradient(180deg, #505160 50%, #aebd38 100%);
}

html body.theme4 .gameContainer .menu__themes #theme3 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #7D4427), to(#2E4600));
  background: linear-gradient(180deg, #7D4427 50%, #2E4600 100%);
}

html body.theme4 .gameContainer .menu__themes #theme4 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #A1D6E2), to(#1995AD));
  background: linear-gradient(180deg, #A1D6E2 50%, #1995AD 100%);
}

html body.theme4 .gameContainer .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #A1D6E2;
}

html body.theme4 .gameContainer .header__counter {
  min-width: 7rem;
  padding: 0 5px;
  border-radius: 5px;
  text-align: right;
  font-weight: bold;
  font-size: 3.5rem;
  color: #F1F1F2;
  background-color: black;
}

html body.theme4 .gameContainer .header__counter > p {
  line-height: 3.6rem;
}

html body.theme4 .gameContainer .header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body.theme4 .gameContainer .header__buttons-restart, html body.theme4 .gameContainer .header__buttons-showMenu {
  padding: 10px;
  border: 0;
  background-color: #1995AD;
  color: #F1F1F2;
  font-size: 20px;
  cursor: pointer;
}

html body.theme4 .gameContainer .header__buttons-restart i, html body.theme4 .gameContainer .header__buttons-showMenu i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body.theme4 .gameContainer .header__buttons-restart:hover i, html body.theme4 .gameContainer .header__buttons-showMenu:hover i {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html body.theme4 .gameContainer .header__buttons-restart.animate i {
  -webkit-animation: 0.4s animateRestartBtn linear;
          animation: 0.4s animateRestartBtn linear;
}

@keyframes animateRestartBtn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1.3);
            transform: rotate(360deg) scale(1.3);
  }
}

html body.theme4 .gameContainer .header__buttons-showMenu.animate i {
  -webkit-animation: 0.3s animateShowMenuBtn linear;
          animation: 0.3s animateShowMenuBtn linear;
}

@keyframes animateShowMenuBtn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

html body.theme4 .gameContainer .header__buttons-emoji {
  width: 5rem;
  height: 5rem;
  border: 3px solid;
  border-color: #fff #808080 #808080 #fff;
  background-image: url(../../images/neutral.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F1F1F2;
}

html body.theme4 .gameContainer .header__buttons-emoji.negative {
  -webkit-animation: 0.3s negativeEmoji linear both;
          animation: 0.3s negativeEmoji linear both;
}

html body.theme4 .gameContainer .header__buttons-emoji.positive {
  -webkit-animation: 0.3s positiveEmoji linear;
          animation: 0.3s positiveEmoji linear;
}

@keyframes negativeEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/negative.svg);
  }
  100% {
    background-image: url(../../images/negative.svg);
  }
}

@keyframes positiveEmoji {
  0% {
    background-image: url(../../images/neutral.svg);
  }
  30% {
    background-image: url(../../images/positive.svg);
  }
  100% {
    background-image: url(../../images/positive.svg);
  }
}

html body.theme4 .gameContainer .board {
  width: 304px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center;
}

html body.theme4 .gameContainer .board__cell {
  width: 38px;
  height: 38px;
  border: 3px solid;
  border-color: #F1F1F2 #1995AD #1995AD #F1F1F2;
  background-color: #A1D6E2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

html body.theme4 .gameContainer .board__cell[data-bomb="1"].clicked {
  background-image: url(../../images/bomb.png);
}

html body.theme4 .gameContainer .board__cell.clicked {
  border: 1px solid #A1D6E2;
  background-color: #F1F1F2;
  pointer-events: none;
}

html body.theme4 .gameContainer .board__cell.flagged {
  background-image: url(../../images/flag.png);
  background-size: 75%;
  cursor: default;
}

html body.theme4 .gameContainer .board__cell.flagged.no-bomb {
  background-image: url(../../images/bomb2.png);
  background-size: 80%;
}

html body.theme4 .gameContainer .board__cell.freeze {
  pointer-events: none;
}

html body.theme4 .gameContainer .board__cell[data-near="1"] {
  color: blue;
}

html body.theme4 .gameContainer .board__cell[data-near="2"] {
  color: green;
}

html body.theme4 .gameContainer .board__cell[data-near="3"] {
  color: red;
}

html body.theme4 .gameContainer .board__cell[data-near="4"] {
  color: #000097;
}

html body.theme4 .gameContainer .board__cell[data-near="5"] {
  color: brown;
}

html body.theme4 .gameContainer .board__cell[data-near="6"] {
  color: #046f81;
}

html body.theme4 .gameContainer .board__cell[data-near="7"] {
  color: #3c044d;
}

html body.theme4 .gameContainer .board__cell[data-near="8"] {
  color: #5f5111;
}

html body.theme4 .gameContainer .panel__title {
  padding: 5px 0 10px;
  border-top: 3px solid #A1D6E2;
  text-align: center;
  font-size: 2rem;
  color: #F1F1F2;
}

html body.theme4 .gameContainer .panel__buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

html body.theme4 .gameContainer .panel__button-difficulty {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 2px 15px;
  border: 4px solid;
  border-color: #F1F1F2 #1995AD #1995AD #F1F1F2;
  background-color: #1995AD;
  font-size: 1.8rem;
  color: #F1F1F2;
  cursor: pointer;
}

html body.theme4 .gameContainer .panel__button-difficulty:hover {
  border: 2px solid;
  border-color: #F1F1F2 #1995AD #1995AD #F1F1F2;
}

html body.theme4 .gameContainer .window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #1995AD;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .3s;
  transition: .3s;
  color: #F1F1F2;
}

html body.theme4 .gameContainer .window.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

html body.theme4 .gameContainer .window__title {
  font-size: 4rem;
  padding: 10px 0;
}

html body.theme4 .gameContainer .window__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body.theme4 .gameContainer .window__content__container {
  padding: 0px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body.theme4 .gameContainer .window__content__title {
  font-size: 2.3rem;
}

html body.theme4 .gameContainer .window__content__subtitle {
  font-size: 2rem;
  padding-top: 5px;
}

html body.theme4 .gameContainer .window__content__subtitle span {
  font-size: 1.8rem;
  font-weight: normal;
}

html body.theme4 .gameContainer .window__content__paragraph {
  font-size: 1.5rem;
}

html body.theme4 .gameContainer .window__content__paragraph--bigger {
  font-size: 1.9rem;
}

html body.theme4 .gameContainer .window__content__paragraph--bigger span {
  font-size: 2rem;
  font-weight: bold;
}

html body.theme4 .gameContainer .window__content input[type="number"] {
  font-size: 2rem;
  width: 10rem;
  text-align: center;
}

html body.theme4 .gameContainer .window__content select {
  padding: 3px 10px;
  font-size: 1.7rem;
  cursor: pointer;
}

html body.theme4 .gameContainer .window__note {
  font-size: 1.4rem;
  text-align: center;
}

html body.theme4 .gameContainer .window__confirm, html body.theme4 .gameContainer .window__close {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 160px;
  margin: 10px 0 0px;
  padding: 5px 0;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #1995AD;
  border-color: #F1F1F2 #1995AD #1995AD #F1F1F2;
  cursor: pointer;
  -webkit-transition: .1s;
  transition: .1s;
  color: #F1F1F2;
}

html body.theme4 .gameContainer .window__confirm:hover, html body.theme4 .gameContainer .window__close:hover {
  -webkit-transform: scale(1.1) rotate(0.5deg);
          transform: scale(1.1) rotate(0.5deg);
}

html body.theme4 .gameContainer .window__close {
  background-color: #d44040;
  color: #fff;
}
